body{
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: auto;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    padding:0;
    gap: 20px;
    grid-template-rows: 100px 100px 40px;
    grid-template-columns: repeat(3, 100px);
    list-style: none;
}

.item-1{
    grid-row: 1;
    grid-column: 1;
    background-color: #ff5757;
}
.item-2{
    grid-row: 1;
    grid-column: 2;
    height: 0;
    width: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid #ffbd59;
    border-bottom: 50px solid transparent;
}
.item-3{
    grid-row:2;
    grid-column: 1;
    background-color: #ff66c4;
    border-radius: 20px;
}

.item-4{
    grid-row: 2;
    grid-column: 2;
    border: 5px solid #5ce1e6;
    border-radius: 100%;
}

.item-5{
    grid-row:1 / span 2;
    grid-column: 3;
    background-color: #03989e;
}
.item-6{
    grid-row:3;
    grid-column: span 3;
    background-color: #7ed957;
}