.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap:10px
}

.btn{
    border:none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    transition: 0.4s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}

.btn:active {
    transform: translateY(3px);
}

.white{
    background-color: #4E6E81;
    color: white;
}

.red{
    background-color: #E96479;
    color: white;
}

.blue{
    background-color: #0E8388;
    color: white;
}