.counter{
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    padding: 20px;
    margin: 2rem 0rem 1rem;
    font-size: x-large;
    background-color: white;
    align-items: center;
    justify-content: center;

    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
}
.counter p{
    margin: 5px;
}